[include]
  path = ~/.gitconfig-private

[include]
  path = ~/.gitconfig-alias

[commit]
  # from git 2.9, --verbose will show the diff when writing the COMMIT_MSG
  verbose = true

#[init]
#  templatedir = ~/.git-templates
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
