[include]
  path = ~/.gitconfig-private

[include]
  path = ~/.gitconfig-alias

[user]
  name = Nuno Carvalho

[commit]
  # from git 2.9, --verbose will show the diff when writing the COMMIT_MSG
  verbose = true

#[init]
#  templatedir = ~/.git-templates
[core]
  pager = diff-so-fancy | less --tabs=4 -RFX
[color]
  ui = true
[color "diff-highlight"]
  oldNormal = red bold
  newNormal = green bold
  newHighlight = green bold 22
  oldHighlight = red bold 52
[color "diff"]
  meta = yellow
  frag = magenta bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
[diff-so-fancy]
  stripLeadingSymbols = false
