*.swp
*.log
*.log*
*.cache
*.cap
*.bak
Dropbox/*
Downloads/*
projects/*
NetBeansProjects/*
.ssh/*
vim/.vim/bundle/
openbox/.config/openbox/setlayout
zsh/.zsh/antigen/
# copyq
copyq/.config/copyq/*.dat
copyq/.config/copyq/*geometry.ini
copyq/.config/copyq/*tabs.ini

alias/.config/alias/alias.private
git/.gitconfig-private
vdirsyncer/**/status/
