# blacklist for usb autosuspend
# logitech K120
#  $ lsusb
#  Bus 001 Device 007: ID 046d:c31c Logitech, Inc. Keyboard K120
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="046d", ATTR{idProduct}=="c31c", GOTO="power_usb_rules_end"

ACTION=="add", SUBSYSTEM=="usb", TEST=="power/control", ATTR{power/control}="auto"
LABEL="power_usb_rules_end"
