#!/bin/sh

# $1 = session startup command provided by lightdm i.e. `startxfce4`, `/usr/bin/openbox-session` or `i3`
case "$1" in
  *openbox*)
    SESSION=openbox
    ;;
  *i3*)
    SESSION=i3
    ;;
  *xfce*)
    SESSION=xfce
    ;;
  *) # default to openbox
    SESSION=openbox
    ;;
esac

# execute programs at startup
[ -f ~/.scripts/startup ] && ~/.scripts/startup $SESSION

if hash gnome-keyring-daemon 2>/dev/null; then
  eval $(/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets,ssh)
  export SSH_AUTH_SOCK
fi
